<div class="container">
  <h1>Recept toevoegen</h1>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group" [formGroup]="search">
      <label for="name">Naam van het recept :</label>&nbsp;&nbsp;&nbsp;
      <input type="text" formControlName="name" />
      <label for="caloriën">Caloriën :</label>&nbsp;&nbsp;&nbsp;
      <input type="text" formControlName="caloriën" />
      <label for="ingrediënten">Ingrediënten :</label>&nbsp;&nbsp;&nbsp;
      <input type="text" formControlName="ingrediënten" />
      <label for="tijd">Tijd :</label>&nbsp;&nbsp;&nbsp;
      <input type="text" formControlName="tijd" /> &nbsp; minuten
    </div>
    <br />
    <button type="submit" class="btn btn-success">Toevoegen</button>
  </form>
  <br /><br />
  <h2>Opgeslagen recepten</h2>
  <label>Recepten :&nbsp;</label>{{ antwoord }}<br />
</div>
