<div class="container">
  <h1>Search Product</h1>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group" [formGroup]="search">
      <label for="name">Name :</label>&nbsp;&nbsp;
      <input type="text" formControlName="name" />
      <label for="name">Caloriën :</label>&nbsp;&nbsp;
      <input type="text" formControlName="caloriën" />
      <label for="name">Ingrediënten :</label>&nbsp;&nbsp;
      <input type="text" formControlName="ingrediënten " />
      <label for="name">Tijd :</label>&nbsp;&nbsp;
      <input type="text" formControlName="tijd " />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Search</button>
  </form>
  <br /><br />
  <h2>Result</h2>
  <label>Recepten :&nbsp;</label>{{ antwoord }}<br />
</div>
